body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #3498db;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
